@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat/Montserrat-Light.eot?#iefix) format("embedded-opentype"),
        url(/fonts/Montserrat/Montserrat-Light.otf) format("otf"),
        url(/fonts/Montserrat/Montserrat-Light.ttf) format("truetype"),
        url(/fonts/Montserrat/Montserrat-Light.woff) format("woff"),
        url(/fonts/Montserrat/Montserrat-Light.woff2) format("woff2"),
        url(/fonts/Montserrat/Montserrat-Regular.eot?#iefix)
            format("embedded-opentype"),
        url(/fonts/Montserrat/Montserrat-Regular.otf) format("otf"),
        url(/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"),
        url(/fonts/Montserrat/Montserrat-Regular.woff) format("woff"),
        url(/fonts/Montserrat/Montserrat-Regular.woff2) format("woff2"),
        url(/fonts/Montserrat/Montserrat-Medium.eot?#iefix)
            format("embedded-opentype"),
        url(/fonts/Montserrat/Montserrat-Medium.otf) format("otf"),
        url(/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype"),
        url(/fonts/Montserrat/Montserrat-Medium.woff) format("woff"),
        url(/fonts/Montserrat/Montserrat-Medium.woff2) format("woff2"),
        url(/fonts/Montserrat/Montserrat-SemiBold.eot?#iefix)
            format("embedded-opentype"),
        url(/fonts/Montserrat/Montserrat-SemiBold.otf) format("otf"),
        url(/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype"),
        url(/fonts/Montserrat/Montserrat-SemiBold.woff) format("woff"),
        url(/fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2");
}
@font-face {
    font-family: "Ubuntu";
    src: url(/fonts/ubuntu/Ubuntu-Bold.eot?#iefix) format("embedded-opentype"),
        url(/fonts/ubuntu/Ubuntu-Bold.otf) format("otf"),
        url(/fonts/ubuntu/Ubuntu-Bold.ttf) format("truetype"),
        url(/fonts/ubuntu/Ubuntu-Bold.woff) format("woff"),
        url(/fonts/ubuntu/Ubuntu-Bold.woff2) format("woff2"),
        url(/fonts/ubuntu/Ubuntu-Regular.eot?#iefix) format("embedded-opentype"),
        url(/fonts/ubuntu/Ubuntu-Regular.otf) format("otf"),
        url(/fonts/ubuntu/Ubuntu-Regular.ttf) format("truetype"),
        url(/fonts/ubuntu/Ubuntu-Regular.woff) format("woff"),
        url(/fonts/ubuntu/Ubuntu-Regular.woff2) format("woff2");
}
