@media (min-height: 1024px) {
    .wrapper {
        height: 100%;
    }
    .header {
        height: 158px;
    }
    .main {
        height: calc(100vh - 318px);
        margin-bottom: 0;
    }
    .footer {
        height: 170px;
        padding-bottom: 60px;
    }
}