// Шрифты 
$ff-Montserrat: 'Montserrat', sans-serif; 
$ff-Ubuntu: 'Ubuntu', sans-serif; 

// Цвет
$c-1: #4E1E4A;
$c-2: #7F5D85;
$c-3: #7F5D85;
$c-4: #B2A6BE;
$c-5: #D4C6E9;
$c-6: #BEB0D2;
$c-7: rgba(127, 93, 133, 26%);
$c-8: #EEBD21;
$c-9: #E4A626;
$c-10: #CA662B;
